# Desafío 3

## Analisis de los distintos Datasets

---
<b><a id='section_1_1'>1.1. Descripción del dataset Banco</a></b>

In [47]:
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt
import math

In [32]:
data_location = "../Data/Banco/bank-additional-full.csv"
data = pd.read_csv(data_location, sep=";")
print(data.shape)

(41188, 21)

In [33]:
data_describe = pd.DataFrame(round(data.isnull().sum() /data.shape[0],2), columns= ['Porcentaje de nulos'])
data_describe['type'] = data.dtypes
data_describe = data_describe[['type','Porcentaje de nulos']]
data_describe['Nulos'] = data.isnull().sum()
values= []
example=[]
for x in data:
    values.append(len(data[x].unique()))
    example.append(data[x].unique())
data_describe['Valores distintos'] = values
data_describe['Ejemplos'] = example


data_describe

,type,Porcentaje de nulos,Nulos,Valores distintos,Ejemplos
age,int64,0.0,0,78,"[56, 57, 37, 40, 45, 59, 41, 24, 25, 29, 35, 5..."
job,object,0.0,0,12,"[housemaid, services, admin., blue-collar, tec..."
marital,object,0.0,0,4,"[married, single, divorced, unknown]"
education,object,0.0,0,8,"[basic.4y, high.school, basic.6y, basic.9y, pr..."
default,object,0.0,0,3,"[no, unknown, yes]"
housing,object,0.0,0,3,"[no, yes, unknown]"
loan,object,0.0,0,3,"[no, yes, unknown]"
contact,object,0.0,0,2,"[telephone, cellular]"
month,object,0.0,0,10,"[may, jun, jul, aug, oct, nov, dec, mar, apr, ..."
day_of_week,object,0.0,0,5,"[mon, tue, wed, thu, fri]"
duration,int64,0.0,0,1544,"[261, 149, 226, 151, 307, 198, 139, 217, 380, ..."
campaign,int64,0.0,0,42,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 19..."
pdays,int64,0.0,0,27,"[999, 6, 4, 3, 5, 1, 0, 10, 7, 8, 9, 11, 2, 12..."
previous,int64,0.0,0,8,"[0, 1, 2, 3, 4, 5, 6, 7]"
poutcome,object,0.0,0,3,"[nonexistent, failure, success]"
emp.var.rate,float64,0.0,0,10,"[1.1, 1.4, -0.1, -0.2, -1.8, -2.9, -3.4, -3.0,..."
cons.price.idx,float64,0.0,0,26,"[93.994, 94.465, 93.91799999999999, 93.444, 93..."
cons.conf.idx,float64,0.0,0,26,"[-36.4, -41.8, -42.7, -36.1, -40.4, -42.0, -45..."
euribor3m,float64,0.0,0,316,"[4.857, 4.856, 4.855, 4.859, 4.86, 4.858000000..."
nr.employed,float64,0.0,0,11,"[5191.0, 5228.1, 5195.8, 5176.3, 5099.1, 5076...."
y,object,0.0,0,2,"[no, yes]"

In [34]:
# Analizamos la proporción entre clases Target
data['y'].value_counts(normalize=True).round(2)

no     0.89
yes    0.11
Name: y, dtype: float64

---
<b><a id='section_1_2'>1.2. Descripción del dataset Waterbody</a></b>

In [35]:
data_location = "../Data/Waterbody/Waterbody_Classifications.csv"
data = pd.read_csv(data_location, sep=",")
print(data.shape)

(4769, 9)

In [36]:
data_describe = pd.DataFrame(round(data.isnull().sum() /data.shape[0],2), columns= ['Porcentaje de nulos'])
data_describe['type'] = data.dtypes
data_describe = data_describe[['type','Porcentaje de nulos']]
data_describe['Nulos'] = data.isnull().sum()
values= []
example=[]
for x in data:
    values.append(len(data[x].unique()))
    example.append(data[x].unique())
data_describe['Valores distintos'] = values
data_describe['Ejemplos'] = example


data_describe

,type,Porcentaje de nulos,Nulos,Valores distintos,Ejemplos
Waterbody Type,object,0.00,0,4,"[Ponds, Estuary, Streams, Shoreline]"
Segment ID,object,0.00,0,4665,"[0601-0104, 0602-0018, 1101-0012, 1203-0064, 1..."
Waterbody Index Number (WIN),object,0.00,0,4307,"[SR-183-P335, SR- 44-14-60-P68, H-299-P27, H-2..."
Name,object,0.00,0,3962,"[Fox Vly, Tully Lake, Saratoga Lake, The Floe,..."
Description,object,0.00,0,1473,"[entire lake, entire bay, as described below, ..."
Basin,object,0.00,0,18,"[Susquehanna River, Upper Hudson River, Mohawk..."
Segment Miles,float64,0.49,2316,2070,"[nan, 59.03, 51.82, 4.36, 13.19, 7.25, 1.89, 2..."
6NYCRR Chapter X Part,int64,0.00,0,57,"[931, 941, 880, 815, 910, 830, 890, 891, 921, ..."
Water Quality Class,object,0.00,0,22,"[C, B, A, C(T), AA, SB, I, SD, SA, SC, B(T), A..."

In [37]:
# Analizamos la proporción entre clases Target
data['Water Quality Class'].value_counts(normalize=True).round(2)

C          0.34
C(T)       0.18
B          0.15
A          0.07
B(T)       0.04
C(TS)      0.03
AA         0.03
FP         0.03
SA         0.03
A(T)       0.02
AA(T)      0.02
SC         0.01
A(TS)      0.01
AA-S       0.01
D          0.01
B(TS)      0.01
I          0.01
SB         0.00
A-S        0.00
AA(TS)     0.00
SD         0.00
See Blw    0.00
Name: Water Quality Class, dtype: float64

---
<b><a id='section_1_3'>1.3. Descripción del dataset Hongos</a></b>

In [38]:
data_location = "../Data/Hongos/mushrooms.csv"
data = pd.read_csv(data_location, sep=",")
print(data.shape)

(8124, 23)

In [39]:
data_describe = pd.DataFrame(round(data.isnull().sum() /data.shape[0],2), columns= ['Porcentaje de nulos'])
data_describe['type'] = data.dtypes
data_describe = data_describe[['type','Porcentaje de nulos']]
data_describe['Nulos'] = data.isnull().sum()
values= []
example=[]
for x in data:
    values.append(len(data[x].unique()))
    example.append(data[x].unique())
data_describe['Valores distintos'] = values
data_describe['Ejemplos'] = example


data_describe

,type,Porcentaje de nulos,Nulos,Valores distintos,Ejemplos
class,object,0.0,0,2,"[p, e]"
cap-shape,object,0.0,0,6,"[x, b, s, f, k, c]"
cap-surface,object,0.0,0,4,"[s, y, f, g]"
cap-color,object,0.0,0,10,"[n, y, w, g, e, p, b, u, c, r]"
bruises,object,0.0,0,2,"[t, f]"
odor,object,0.0,0,9,"[p, a, l, n, f, c, y, s, m]"
gill-attachment,object,0.0,0,2,"[f, a]"
gill-spacing,object,0.0,0,2,"[c, w]"
gill-size,object,0.0,0,2,"[n, b]"
gill-color,object,0.0,0,12,"[k, n, g, p, w, h, u, e, b, r, y, o]"
stalk-shape,object,0.0,0,2,"[e, t]"
stalk-root,object,0.0,0,5,"[e, c, b, r, ?]"
stalk-surface-above-ring,object,0.0,0,4,"[s, f, k, y]"
stalk-surface-below-ring,object,0.0,0,4,"[s, f, y, k]"
stalk-color-above-ring,object,0.0,0,9,"[w, g, p, n, b, e, o, c, y]"
stalk-color-below-ring,object,0.0,0,9,"[w, p, g, b, n, e, y, o, c]"
veil-type,object,0.0,0,1,[p]
veil-color,object,0.0,0,4,"[w, n, o, y]"
ring-number,object,0.0,0,3,"[o, t, n]"
ring-type,object,0.0,0,5,"[p, e, l, f, n]"
spore-print-color,object,0.0,0,9,"[k, n, u, h, w, r, o, y, b]"
population,object,0.0,0,6,"[s, n, a, v, y, c]"
habitat,object,0.0,0,7,"[u, g, m, d, p, w, l]"

In [40]:
# Analizamos la proporción entre clases Target
data['class'].value_counts(normalize=True).round(2)

e    0.52
p    0.48
Name: class, dtype: float64

---
<b><a id='section_1_4'>1.4. Descripción del dataset HappinessAlcohol</a></b>

In [41]:
data_location = "../Data/HappinessAlcohol/HappinessAlcoholConsumption.csv"
data = pd.read_csv(data_location, sep=",")
print(data.shape)

(122, 9)

In [42]:
data_describe = pd.DataFrame(round(data.isnull().sum() /data.shape[0],2), columns= ['Porcentaje de nulos'])
data_describe['type'] = data.dtypes
data_describe = data_describe[['type','Porcentaje de nulos']]
data_describe['Nulos'] = data.isnull().sum()
values= []
example=[]
for x in data:
    values.append(len(data[x].unique()))
    example.append(data[x].unique())
data_describe['Valores distintos'] = values
data_describe['Ejemplos'] = example


data_describe

,type,Porcentaje de nulos,Nulos,Valores distintos,Ejemplos
Country,object,0.0,0,122,"[Denmark, Switzerland, Iceland, Norway, Finlan..."
Region,object,0.0,0,9,"[Western Europe, North America, Australia and ..."
Hemisphere,object,0.0,0,4,"[north, south, both, noth]"
HappinessScore,float64,0.0,0,121,"[7.526, 7.5089999999999995, 7.501, 7.497999999..."
HDI,int64,0.0,0,106,"[928, 943, 933, 951, 918, 922, 915, 938, 932, ..."
GDP_PerCapita,float64,0.0,0,122,"[53.57899999999999, 79.866, 60.53, 70.89, 43.4..."
Beer_PerCapita,int64,0.0,0,100,"[224, 185, 233, 169, 263, 240, 251, 203, 261, ..."
Spirit_PerCapita,int64,0.0,0,87,"[81, 100, 61, 71, 133, 122, 88, 79, 72, 60, 69..."
Wine_PerCapita,int64,0.0,0,66,"[278, 280, 78, 129, 97, 100, 190, 175, 212, 18..."

In [43]:
# Analizamos la proporción entre clases Target
data['HappinessScore'].describe()
#data['class'].value_counts(normalize=True).round(2)

count    122.000000
mean       5.524828
std        1.148736
min        3.069000
25%        4.528250
50%        5.542000
75%        6.477000
max        7.526000
Name: HappinessScore, dtype: float64

---
<b><a id='section_1_5'>1.5. Descripción del dataset Happiness</a></b>

In [44]:
data_location = "../Data/Happiness2020/2020.csv"
data = pd.read_csv(data_location, sep=",")
print(data.shape)

(153, 20)

In [45]:
data_describe = pd.DataFrame(round(data.isnull().sum() /data.shape[0],2), columns= ['Porcentaje de nulos'])
data_describe['type'] = data.dtypes
data_describe = data_describe[['type','Porcentaje de nulos']]
data_describe['Nulos'] = data.isnull().sum()
values= []
example=[]
for x in data:
    values.append(len(data[x].unique()))
    example.append(data[x].unique())
data_describe['Valores distintos'] = values
data_describe['Ejemplos'] = example


data_describe

,type,Porcentaje de nulos,Nulos,Valores distintos,Ejemplos
Country name,object,0.0,0,153,"[Finland, Denmark, Switzerland, Iceland, Norwa..."
Regional indicator,object,0.0,0,10,"[Western Europe, North America and ANZ, Middle..."
Ladder score,float64,0.0,0,153,"[7.808700085, 7.645599842, 7.559899807000001, ..."
Standard error of ladder score,float64,0.0,0,153,"[0.031156305, 0.033492286, 0.03501417100000000..."
upperwhisker,float64,0.0,0,153,"[7.869766235, 7.711244582999999, 7.628527641, ..."
lowerwhisker,float64,0.0,0,153,"[7.7476339339999996, 7.579955101, 7.491271973,..."
Logged GDP per capita,float64,0.0,0,152,"[10.63926697, 10.77400112, 10.97993279, 10.772..."
Social support,float64,0.0,0,153,"[0.954329729, 0.955990791, 0.942846596, 0.9746..."
Healthy life expectancy,float64,0.0,0,152,"[71.9008255, 72.40250397, 74.10244751, 73.0, 7..."
Freedom to make life choices,float64,0.0,0,153,"[0.949172199, 0.9514442679999999, 0.921336651,..."
Generosity,float64,0.0,0,153,"[-0.059482019000000004, 0.06620177599999999, 0..."
Perceptions of corruption,float64,0.0,0,153,"[0.19544458399999998, 0.168489456, 0.303728431..."
Ladder score in Dystopia,float64,0.0,0,1,[1.9723167419999998]
Explained by: Log GDP per capita,float64,0.0,0,152,"[1.285189509, 1.326948524, 1.39077425, 1.32650..."
Explained by: Social support,float64,0.0,0,153,"[1.499525905, 1.5034492019999999, 1.4724034069..."
Explained by: Healthy life expectancy,float64,0.0,0,152,"[0.961271405, 0.979332566, 1.040533185, 1.0008..."
Explained by: Freedom to make life choices,float64,0.0,0,153,"[0.66231674, 0.665039897, 0.62895447, 0.661980..."
Explained by: Generosity,float64,0.0,0,153,"[0.159670442, 0.24279339600000002, 0.269055754..."
Explained by: Perceptions of corruption,float64,0.0,0,153,"[0.477857262, 0.49526032799999997, 0.407945901..."
Dystopia + residual,float64,0.0,0,153,"[2.7628350260000003, 2.432740688, 2.35026741, ..."

In [46]:
# Analizamos la proporción entre clases Target
data['Ladder score'].describe()
#data['class'].value_counts(normalize=True).round(2)

count    153.00000
mean       5.47324
std        1.11227
min        2.56690
25%        4.72410
50%        5.51500
75%        6.22850
max        7.80870
Name: Ladder score, dtype: float64

In [49]:
from kmodes.kmodes import KModes

In [ ]:
km = KModes(n_clusters=4, init='Huang', n_init=5, verbose=1)